* {
  box-sizing: border-box;   /* step 11 */
}

html {
  font-size: 16px;      /* step 6 */
}
body {                /* step 5 */
  font-family: "Open Sans", sans-serif;
}

.label {        /* html and this step 7,8,9,10 */
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}

header h1 {
  /*font-weight: 800;     /* step 12 removed in step 20*/
  text-align: center;   /* step 13 */
  margin: -4px 0;       /* step 14 */
  letter-spacing: 0.15px;  /* step 18 */
}

p {
  margin: 0;        /* step 15 */
}

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
  clear: right;
}

.bold {
  font-weight: 800;
}

.right {
  float: right;
}

.lg {
  height: 10px;
}

.lg, .md {
  background-color: black;
  border: 0;
}

.md {
  height: 5px;
}

.sm-text {
  font-size: 0.85rem;
}

.calories-info h1 {
  margin: -5px -2px;
  overflow: hidden;
}

.calories-info span {
  font-size: 1.2em;
  margin-top: -7px;
}

.indent {
  margin-left: 1em;
}

.dbl-indent {
  margin-left: 2em;
  
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid#888989;
}

.note {
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent: -8px;
}